
  @import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Tektur', cursive;
    cursor:default;
    /* background-color: rgb(12, 12, 12); */
}
.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #DEB2F2;
    border-radius: 50%;
    /* mix-blend-mode: difference; */
    z-index: 0;
    transition: transform linear 0.1s;
    
}
.nav{
    height: 50px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    mix-blend-mode: difference;
    position: fixed;
    z-index: 9;

}
.nav>img{
    height: 25px;
    cursor: pointer;
}
.nav>ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav>ul>li{
   list-style: none;
   padding: 2px 5px;
   margin-right: 10px;
   color: #ffffff;
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 2px;
   cursor: pointer;
}
.nav .circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fefcff;
}
.main{
    background-color: #0f0d0d;
    color: #EFEFF2;
    z-index: 8;
    mix-blend-mode: difference;
}

.page1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
   
}
.page1>h1{
    font-size: 7vw;
    /* color: #EFEFF2; */
    margin-top: 40vh;
    margin-left: 10vw;

}
.page1>h2{
    font-size: 7vw;
    /* color: #EFEFF2; */
    margin-left: 26vw;
    line-height: 50px;
}
.page1>video{
    width: 60%;
    margin:10vh auto;
}

.page2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10vh 5vw;
    /* background-color: #4d4d83; */
}

.page2>h1{
    font-size: 7vw;
    font-weight: 100;
}
.page2-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15vh;
    margin-bottom: 10vh;
}
.page2-container>.left{
    width: 40%;
    font-size: 4vw;
}
.page2-container>.right{
    position: relative;
    width: 25%;
    right: 4%;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
}
.page2-container>.right>button{
    width: 100%;
    background-color: #edbfff;
    border: none;
    border-radius: 100px;
    padding: 10px 5px;
    margin-top: 10px;
    font-size: 1vw;
    text-transform: uppercase;
}
.page2>span{
    width: 0%;
    height: 5px;
    background-color: #0f0d0d;
}

.page3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10vh 5vw;
}
.page3>h1{
    font-size: 7vw;
    font-weight: 100;
}
.page3 .page3-part1{
    width: 100%;
    height: 60vw;
    margin-top: 10px;
    position: relative;
}
.page3-part1>img{
    width: 40vw;
    height: 35vw;
    position: absolute;
    bottom: 50px;
}
.page3-part1>video{
    width: 40vw;
    position: absolute;
    top: 10px;
    right: 0;
}
.page3 .page3-part2{
    width: 100%;
    height: 60vw;
    position: relative;
}
.page3-part2>video{
    width: 40vw;
    position: absolute;
    bottom: 20px;
}
.page3-part2>img{
    width: 40vw;
    height: 35vw;
    position: absolute;
    top: 0;
    right: 0;
}
.page3>span{
    width: 0%;
    height: 5px;
    background-color: #0f0d0d;
}
.page4{
    width: 100%;
    height: auto;
    padding: 10vh 5vw;
    position: relative;
}
.page4>h2{
    width: 200px;
    margin: 10vh auto;
    font-size: 13px;
    text-align: center;
    
}
.page4>.outer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page4>.outer-container>img{
    width: 20vw;
    position: absolute;
    transition: all ease-out 0.5s;

}
.page4>.outer-container>img:nth-child(1){
    left: 10%;
    transform: translateY(10%) rotate(2deg);
    opacity: 0;

}
.page4>.outer-container>img:nth-child(3){
    right: 10%;
    transform: translateY(10%) rotate(2deg);
    opacity: 0;
}
.page4>.outer-container>.inner-container{
    height: 10vw;
    overflow: hidden;
}
.page4>.outer-container h1{
    font-size: 7vw;
    position: relative;
    top: 0%;
    transition: top ease 0.5s;
    mix-blend-mode: difference;
    z-index: 2;
}
.page4>.outer-container:hover h1{
    top: -100%;
    color: #DEB2F2;
}
.page4>.outer-container:hover img{
    opacity: 1;
    transform: translateY(0) rotate(0deg);
}
.page4>span{
    width: 0%;
    height: 5px;
    background-color: #EFEFF2;
    position: absolute;
    bottom: 0;
}
.page4 .outer-container:nth-last-child(2){
    margin-bottom: 20vh;
}

.page5{
    height: auto;
    padding: 10vh 5vw;
}
.page5>h1{
    font-size: 4.5vw;
    font-weight: 400;
    margin-bottom: 20px;
}
.page5>h1>span{
    color: #DEB2F2;
}
.page5>.box{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #EFEFF2;
   
}
.page5>.box:nth-last-child(1){
    border-bottom: 2px solid #EFEFF2;
}
.page5 h2{
    font-size: 1vw;
}
.page5>.box>.box-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.page6{
    height: 90vh;
    background-color: #edbfff;
    color: #0f0d0d;
    padding: 10vh 5vw;
}
.page6>h3{
    font-size: 2vw;
}
.page6>.lower{
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.page6>.lower>.contact{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
  
}
.page6>.lower>.contact a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
}
.page6>.lower h4,h5{
    font-weight: 100;
}
@media screen and (max-width: 991.98px) {
    .page5>.box{
       flex-direction: column;
       align-items: flex-start;
       justify-content: flex-start;
       
    }
    .page5 h2{
        font-size: 2.5vw;
    }
    .page5>.box>.box-right{
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
}
@media screen and (max-width: 569px) {
    .nav {
        margin-top: 20px;
    }
    
    .nav ul{
        display: none;
    }
    .page4>h2{
        margin: 1vh auto 5vh auto;
        
    }
   .page2, .page3,.page4,.page5{
       
        padding: 3vh 5vw;
    }
    .page4 .outer-container:nth-last-child(2){
        margin-bottom: 5vh;
    }
    .page5>.box{
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       
    }
    .page5 h2{
        font-size: 4vw;
        font-weight: 100;
    }
    .page5>.box>.box-right{
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .page6{
        height: 30vh;
        background-color: #edbfff;
        color: #0f0d0d;
        padding: 5vh 5vw;
    }
    .page6>h3{
        font-size: 5vw;
    }
    .page6>.lower{
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .page6>.lower>.contact{
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    .page6>.lower .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
    }
    .page6>.lower>.contact a,h5{
        text-decoration: none;
        line-height: normal;
        font-size: 10px;
        font-weight: 100;
    }
    .page6>.lower h4{
        font-size: 12px;
    }
    .page6 .copyRight{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}